.label {
    background-color: rgb(126, 185, 219);
}

.label {
    color: #fff;
    padding: 10px;
    margin-right: 50px;
    width: 120px;
    border: 2px solid rgb(78, 158, 204);
}

input {
    margin-left: -30px;
    height: 37.6px;
    border: 2px solid rgb(78, 158, 204);
    min-width: 18px;
}

.usename {
    width: 250px;
}

.title {
    margin: 30px;
}

.title, .gender, .gender-option {
    display: flex;
}

select {
    margin-left: -28px;
}

.gender-option {
    margin-right: 10px;
    min-width: 80px;
}

button {
    background-color: rgb(119, 199, 119);
    height: 40px;
    border-radius: 4px;
    color: #fff;
    border: 2px solid rgb(50, 184, 50);
    width: 120px;
    margin-left: -50px;
}

form {
    border: 2px solid rgb(78, 158, 204);
    padding: 30px;
    width: 500px;
    text-align: center;
    margin: auto !important;
    padding-left: 80px !important;
}

p {
    margin-top: 12px;
    margin-left: 10px;
}